<div id="view">
   <div id="pane">
      <h1 id="code">512</h1>
      <span id="text">Mutilation In Progress</span>
   </pane>
</div>



<style>
   html,body
   {
      position:relative;
      height:100%;
      background-color:#2e3133;
      font-size:1vw; /*  `rem` unit basis  */
      font-family: Arial, Helvetica, sans-serif;
      line-height:1.5vw;
      color:#AAA;
      overflow:hidden;
      padding:0px; margin:0px;
   }

   @media screen and (max-width:1200px)
   {
      html,body{font-size:12px; line-height:18px;}
   }

   div
   {
      display:block; position:relative;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px; margin:0px;
   }

   table,th,tr,td
   {
      border-width:0px;
      border-collapse:collapse;
      margin:0px; padding:0px;
   }

   iframe,object
   {
      display:inline-block; position:relative;
      box-sizing:border-box;
      padding:0px; margin:0px; border:none;
      background:transparent;
   }

   pre
   {
      position:relative; padding:0px; margin:0px;
   }

   ul
   {
      margin:0px; padding:0px;
      margin-left:1.5rem; margin-top:0.5rem;
   }

   li
   {
      margin:0px; padding:0px;
   }

   p
   {
      margin:0px; margin-top:1rem;
   }

   a
   {
      font-weight:bold;
      cursor:pointer;
      text-decoration:underline;
      color:#CCC;
   }

   a:hover
   {color:#EEE;}

   h1
   {font-size:4rem;}

   #view
   {
      width:100%; height:100%;
   }

   #pane
   {
      min-width:30rem; max-width:60rem;
      padding:2rem;
      border-radius:0.3rem;
      background-color:hsla(0,0%,100%,0.05);
      text-align:center;
      border:0.1rem solid hsla(0,0%,100%,0.1);
      box-shadow:0rem 0rem 0.2rem hsla(0,0%,0%,0.1);
      position:absolute; top:40%; left:50%; transform:translate(-50%,-40%);
   }
</style>


<script>
   (function()
   {
      var DATA = '{:HOSTVARS:}'; if(DATA===('{:'+'HOSTVARS'+':}')){return;};
      try{var vars = JSON.parse(atob("{:HOSTVARS:}"));}catch(e){return;};
      document.getElementById('code').innerHTML=vars.code;
      document.getElementById('text').innerHTML=vars.text;
   }());
</script>
