#replPanl
{
   display:table; position:absolute;
   width:100%; height:100%; bottom:0px;
   background:hsla(220,5%,3%,0.9);
   box-shadow:0px 0px 12px hsla(0,0%,0%,0.15);
}

#replView
{
   display:block !important;
   position:absolute;
   width:100% !important; height:100% !important;
   padding:5px; overflow:auto !important;
   font-family:"code";
   font-size:16px;
   line-height:16px;
   background:hsla(210,3%,4%,1);
}

#replFlog
{
   display:block !important;
   /* position:relative !important; */
   font-family:"code" !important;
   text-align:left !important;
   font-size:16px !important;
   line-height:16px !important;
   color:#AAA !important;
   padding:0px !important;
   margin:0px !important;
}

#replFeed
{
   width:100% !important;
   height:16px !important;
   border:none !important;
   background:transparent !important;
   color:#BBB;
   text-align:left;
   font-size:16px !important;
   line-height:16px !important;
   outline:none;
   font-family:code;
   margin:0px !important;
   padding:0px !important;
   margin-top:-1px !important;
   border:none !important;
}


.replProm
{
   display:inline-block !important;
   font-family:"code" !important;
   font-size:16px !important;
   line-height:16px !important;
   color:#666;
   padding:0px !important;
   margin:0px !important;
}

#replDragSize
{
   cursor:row-resize;
}

#w0rkReplPanl
{
   /* position:fixed;
   z-index:99999998; */
   width:100%; height:25%;
   /* bottom:0px; */
}
