<link rel="stylesheet" type="text/css" href="/c0r3/lib/repl/repl.css" />


<div id="replView" onclick="Select('#replFeed').focus()">
   <pre id="replFlog"></pre>
   <table style="width:100%">
      <tr>
         <td id="replProc" style="padding-right:6px"><pre id="replProm">[anonymous&nbsp;/]$</pre></td>
         <td style="width:100%"><input id="replFeed" type="text" style="display:none" spellcheck="false" /></td>
      </tr>
   </table>
</div>


<script src="/c0r3/lib/repl/repl.js"></script>
