
/* tags :: base : view-span, base-size, base-tint
/* ----------------------------------------------------------------------------------------------- */
   html,body
   {
      position:relative;
      height:100%;
      background-color:#2e3133;
      font-size:1vw; /*  `rem` unit basis  */
      font-family: Arial, Helvetica, sans-serif;
      line-height:2vw;
      color:#AAA;
      overflow:hidden;
      padding:0px;
      margin:0px;
   }

   ::-webkit-scrollbar
   {
      width:10px; height:10px;
   }

   ::-webkit-scrollbar-track
   {
      background:hsla(210,3%,15%,0.9);
   }

   ::-webkit-scrollbar-thumb
   {
      background:hsla(210,4%,22%,1);
      border:1px solid hsla(210,3%,15%,0.9);
      border-radius:3px;
   }

   ::-webkit-scrollbar-corner
   {background:hsla(210,3%,15%,0.9);}
/* ----------------------------------------------------------------------------------------------- */




/* cond :: view : limit minimum base-size
/* ----------------------------------------------------------------------------------------------- */
   @media screen and (max-width:1200px)
   {
      html,body
      {
         font-size:12px;
         line-height:24px;
      }
   }
/* ----------------------------------------------------------------------------------------------- */




/* tags :: base : standardize
/* ----------------------------------------------------------------------------------------------- */
   div
   {
      display:block;
      position:relative;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
   }

   table,th,tr,td
   {
      border-width:0px;
      border-collapse:collapse;
      margin:0px;
      padding:0px;
      vertical-align:top;
   }

   iframe,object
   {
      display:inline-block;
      position:relative;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
      border:none;
      background:transparent;
      box-sizing:border-box;
   }

   pre
   {
      position:relative; padding:0px; margin:0px;
      box-sizing:border-box;
   }

   ul
   {
      margin:0px;
      padding:0px;
      margin-left:1.5rem;
      margin-top:0.5rem;
   }

   li
   {
      margin:0px;
      padding:0px;
   }

   p
   {
      margin:0px;
      margin-top:1rem;
   }

   a
   {
      font-weight:bold;
      cursor:pointer;
      text-decoration:underline;
      color:#CCC;
   }

   a:hover
   {color:#EEE;}

   textarea
   {
      position:relative; margin:0px; padding:4px;
      box-sizing:border-box;
      resize:none;
      font-family:monospace; font-size:12px; line-height:14px;
      border:1px solid #AAA; border-radius:2px;
   }

   code
   {
      position:relative !important; margin:0px !important; padding:0px !important;
      box-sizing:border-box;
   }
/* ----------------------------------------------------------------------------------------------- */




/* tags :: grid : tables
/* ----------------------------------------------------------------------------------------------- */
   grid
   {
      display:table !important; width:100%; height:100%; box-sizing:border-box;
      border-width:0px; border:none;
      margin:0px; padding:0px;
   }

   row
   {
      display:table-row !important; height:auto;
   }

   col
   {
      display:table-cell !important; width:auto; height:auto;
      vertical-align:top; text-align:left;
   }
/* ----------------------------------------------------------------------------------------------- */




/* tags :: divs : delimiters
/* ----------------------------------------------------------------------------------------------- */
   vdiv
   {
      display:block; position:relative; box-sizing:border-box; height:100%;
      overflow:hidden; margin:0px; padding:0px;
   }

   hdiv
   {
      display:block; position:relative; box-sizing:border-box; width:100%;
      overflow:hidden; margin:0px; padding:0px;
   }

   .panlVertDlim{width:5px !important; height:100% !important; max-width:5px !important; padding:0px !important; margin:0px !important;}
   .panlVertDlim > vdiv
   {
      width:5px !important; height:100% !important;
      background:hsla(210,3%,12%,1);
      border-left:1px solid hsla(210,3%,8%,1); border-right:1px solid hsla(210,3%,22%,1);
   }

   .panlVertLine{width:1px;}
   .panlVertLine > vdiv
   {
      width:1px;
      border-left:1px solid hsla(210,3%,8%,1); border-right:1px solid hsla(210,3%,22%,1);
   }

   .panlHorzDlim{width:100% !important; height:5px !important;}
   .panlHorzDlim > hdiv
   {
      width:100% !important; height:5px !important;
      background:hsla(210,3%,12%,1);
      border-top:1px solid hsla(210,3%,8%,1); border-bottom:1px solid hsla(210,3%,22%,1);
   }

   .panlHorzLine{height:1px;}
   .panlHorzLine > hdiv
   {
      height:1px;
      border-top:1px solid hsla(210,3%,8%,1); border-bottom:1px solid hsla(210,3%,22%,1);
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: note
/* ----------------------------------------------------------------------------------------------- */
   notedeck
   {
      display:inline-block; position:absolute; box-sizing:border-box;
      z-index:99999998;
      text-align:left; color:#BBB;
   }

   noteface
   {
      display:inline-block; position:relative; box-sizing:border-box;
      border:1px solid hsla(0,0%,30%,1);
      background-color:#2e3133;
      border:1px solid #5e6163; border-radius:2px;
      box-shadow:0px 0px 12px hsla(0,0%,0%,0.2);
      font-family: Arial, Helvetica, sans-serif;
      font-size:12px; line-height:14px; color:#FFF;
      padding:6px;
   }

   notedeck.Good>noteface,notedeck.Good>notearro>div{background-color:hsla(140,60%,20%,1); border:1px solid hsla(140,60%,40%,1);}
   notedeck.Info>noteface,notedeck.Info>notearro>div{background-color:hsla(210,60%,20%,1); border:1px solid hsla(210,60%,40%,1);}
   notedeck.Need>noteface,notedeck.Need>notearro>div{background-color:hsla(280,60%,20%,1); border:1px solid hsla(280,60%,40%,1);}
   notedeck.Warn>noteface,notedeck.Warn>notearro>div{background-color:hsla(40,60%,20%,1); border:1px solid hsla(40,60%,40%,1);}
   notedeck.Fail>noteface,notedeck.Fail>notearro>div{background-color:hsla(0,60%,20%,1); border:1px solid hsla(0,60%,40%,1);}

   notearro
   {
      display:inline-block; position:absolute; box-sizing:border-box;
      width:12px; height:6px; overflow:hidden;
   }

   notearro div
   {
      display:inline-block; position:relative; box-sizing:border-box;
      width:12px; height:12px; margin-top:2px; overflow:hidden; transform:rotate(45deg);
      background-color:#2e3133;
      border:1px solid #5e6163;
   }

   notearro.TL {left:0px;  top:0px;}
   notearro.TM {left:50%;  top:0px; transform:translate(-50%,0%);}
   notearro.TR {right:0px; top:0px;}

   notearro.RT {transform:rotate(90deg);  right:0px; top:0px;}
   notearro.RM {transform:rotate(90deg);  right:0px; top:50%; transform:translate(0%,-50%);}
   notearro.RB {transform:rotate(90deg);  right:0px; bottom:0px;}

   notearro.BR {transform:rotate(180deg); right:0px; bottom:0px;}
   notearro.BM {transform:rotate(180deg); left:50%;  transform:translate(50%,0%); bottom:0px;}
   notearro.BL {transform:rotate(180deg); left:0px;  bottom:0px;}

   notearro.LB {transform:rotate(270deg); left:0px;  bottom:0px;}
   notearro.LM {transform:rotate(270deg); left:0px;  top:50%; transform:translate(0%,-50%);}
   notearro.LT {transform:rotate(270deg); left:-8px;  top:6px;}
/* ----------------------------------------------------------------------------------------------- */




/* clan :: butn
/* ----------------------------------------------------------------------------------------------- */
   butn
   {
      display:inline-block; position:relative; box-sizing:border-box;
      min-width:80px;
      background:linear-gradient(0deg, hsla(0,0%,85%,1) 0%, hsla(0,0%,95%,1) 100%);
      padding-left:0.5rem; padding-right:0.5rem; margin:0.5rem;
      text-align:center; font-weight:600; color:hsla(0,0%,20%,1); text-shadow:0px 0px 1px hsla(0,0%,0%,0.3);
      border:1px solid hsla(0,0%,70%,1); border-radius:2px;
      box-shadow:0px 0px 6px hsla(0,0%,50%,0.2);
      cursor:pointer;
   }

   butn:hover
   {
      background:linear-gradient(0deg, hsla(0,0%,90%,1) 0%, hsla(0,0%,100%,1) 100%);
      color:hsla(0,0%,30%,1);
      border:1px solid hsla(0,0%,80%,1);
   }


   butn.Good
   {
      background:linear-gradient(0deg, hsla(220,100%,50%,1) 0%, hsla(220,100%,60%,1) 100%);
      color:hsla(0,0%,95%,1);
      border:1px solid hsla(220,100%,35%,1);
   }

   butn.Good:hover
   {
      background:linear-gradient(0deg, hsla(220,100%,55%,1) 0%, hsla(220,100%,65%,1) 100%);
      color:hsla(0,0%,100%,1);
      border:1px solid hsla(220,100%,45%,1);
   }
/* ----------------------------------------------------------------------------------------------- */




/* view :: floats ontop, fills window
/* ----------------------------------------------------------------------------------------------- */
   .view,view
   {
      display:block;
      position:fixed;
      z-index:9999;
      top:0px; left:0px;
      width:100%; height:100%;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
      overflow:auto;
   }

   .dbugPanl
   {
      position:fixed !important; top:0px; left:0px;
      z-index:99999997;
   }

   #failExit
   {
      position:fixed !important; z-index:99999999; top:0px; right:0px;
      width:20px; height:20px;
      background:hsla(0,0%,0%,0.7);
      cursor:pointer;
      font-weight:bold;
      font-size:14px; line-height:17px;
      text-align:center;
      overflow:hidden;
   }
/* ----------------------------------------------------------------------------------------------- */




/* bots :: trap : only bots can see the element
/* ----------------------------------------------------------------------------------------------- */
   .nonhuman
   {
      display:inline-block; position:absolute;
      width:320px; height:240px; top:-500px; left:-500px;
      overflow:hidden;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: holder : general container
/* ----------------------------------------------------------------------------------------------- */
   .holder
   {
      display:block; position:relative;
      width:100%; height:100%;
      overflow:auto;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: dropZone : for file uploads
/* ----------------------------------------------------------------------------------------------- */
   .dropZone
   {
      display:flex; position:absolute;
      width:50%; height:50%; background:hsla(0,0%,50%,0.1);
      justify-content:center; align-items:center; text-align:center;
      font-family:Arial Helvetica sans-serif; font-size:3vw; color:hsla(0,0%,50%,0.4);
      border:2px dashed hsla(0,0%,50%,0.4); border-radius:1vw;
      top:50%; left:50%; transform:translate(-50%, -50%);
   }
   .dropZoneInfo
   {
      padding-top:3vw;
      font-size:1.5vw;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: dropMenu
/* ----------------------------------------------------------------------------------------------- */
   .dropMenu
   {
      display:inline-block;
      position:absolute;
      z-index:99999998;
      text-align:left;
      color:#BBB;
      background-color:hsla(210,3%,18%,1);
      border:1px solid #5e6163;
      border-radius:2px;
      box-shadow:0px 0px 12px hsla(0,0%,0%,0.2);
   }

   .dropMenuItem
   {
      min-width:200px;
      padding:2px;
      padding-left:7px;
      font-size:12px;
      line-height:18px;
      cursor:default;
   }
   .dropMenuItem:hover
   {
      background-color:#3e4143;
      color:#EEE;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: move
/* ----------------------------------------------------------------------------------------------- */
   .moveHorz {cursor:col-resize;}
   .moveVert {cursor:row-resize;}
   .moveBoth {cursor:move;}
/* ----------------------------------------------------------------------------------------------- */




/* tags :: custom
/* ----------------------------------------------------------------------------------------------- */
   panl
   {
      display:block; position:relative;
      box-sizing:border-box; width:100%; height:100%;
      overflow:auto;
   }

   note
   {
      display:inline-block; position:relative; box-sizing:border-box;
      border:1px solid hsla(0,0%,30%,1);
      background-color:#2e3133;
      border:1px solid #5e6163; border-radius:2px;
      box-shadow:0px 0px 12px hsla(0,0%,0%,0.2);
      font-family: Arial, Helvetica, sans-serif;
      text-align:center; color:#FFF;
      padding:2em;
   }

   icon
   {
      display:inline-block; position:relative; box-sizing:border-box;
      padding:0px !important; margin:0px !important;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: alignment
/* ----------------------------------------------------------------------------------------------- */
   .center {position:absolute !important; left:50%; transform:translate(-50%,0%);}
   .middle {position:absolute !important; top:50%; transform:translate(0%,-50%);}
   .cenmid {position:absolute !important; left:50%; top:50%; transform:translate(-50%,-50%);}
   .midcen {position:absolute !important; left:50%; top:50%; transform:translate(-50%,-50%);}
/* ----------------------------------------------------------------------------------------------- */




/* clan :: modal
/* ----------------------------------------------------------------------------------------------- */
   #modalView
   {
      position:fixed;
      z-index:99999991 !important;
      top:0px; left:0px;
      width:100%; height:100%;
      background:hsla(0,0%,10%,0.8);
      text-align:center;
   }


   .modalPanl
   {
      display:inline-block;
      min-width:700px;
      min-height:360px;
      background:hsla(0,0%,97%,1);
      text-align:left;
      color:#000;
      border:1px solid hsla(0,0%,70%,1);
      border-radius:3px;
      margin-top:3rem;
      box-shadow:0px 0px 3rem hsla(0,0%,0%,1);
   }

   .modalPanl a {color:hsla(220,100%,50%,1);}
   .modalPanl a:hover {color:hsla(220,100%,60%,1);}

   .modalHead
   {
      padding:0.5rem;
      font-size:1.5rem; font-weight:bold; color:#444;
      border-bottom:1px solid hsla(0,0%,90%,1);
   }


   .modalBody
   {
      padding:1rem; padding-top:0.5rem;
      background:hsla(0,0%,100%,1);
   }

   .modalBody ul
   {
      margin-bottom:1rem !important;
   }

   .modalBody li
   {
      margin-top:0px !important;
      margin-bottom:0px !important;
      line-height:1.2rem !important;
   }


   .modalFoot
   {
      padding:0.5rem;
      border-top:1px solid hsla(0,0%,90%,1);
      text-align:right;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: tabs
/* ----------------------------------------------------------------------------------------------- */
   tabs
   {
      display:block; box-sizing:border-box; position:relative;
      margin:0px !important;
      padding:0px !important;
   }

   tabs.ctrl
   {
      display:block; box-sizing:border-box; position:relative;
      text-align:right;
      margin-top:1rem;
   }

   tabs.view
   {
      display:block; box-sizing:border-box; position:relative;
      background:#FFFFFF; overflow:auto;
      border:1px solid hsla(0,0%,50%,1);
      margin:0px !important;
      padding:0px !important;
      z-index:1;
   }

   tab
   {
      display:block; box-sizing:border-box; position:relative;
   }

   tab.head
   {
      display:inline-block; box-sizing:border-box; position:relative;
      min-width:16px; min-height:16px;
      background:#FFFFFF; padding:2px; padding-left:12px; padding-right:12px;
      border:1px solid hsla(0,0%,50%,1); border-bottom:none;
      cursor:pointer; user-select:none;
      z-index:0;
      margin-bottom:-1px;
      margin-left:-1px;
   }

   tab.head.actv
   {
      font-weight:bold;
      border-top:2px solid hsla(220,70%,50%,1);
   }

   tab.body
   {
      display:none; box-sizing:border-box; position:relative;
      width:100%; height:100%;
      margin:0px !important;
      padding:0px !important;
   }
/* ----------------------------------------------------------------------------------------------- */
